In [1]:
#importing required libraries...
import pandas as pd
from matplotlib import pyplot as plt

Afghani Exchange Rate from 2007 to 2024

In [5]:
df = pd.read_csv('quarterly-edited.csv')

In [6]:
#Checking a beginnig of the records
df.head()

,country,unit,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,2002Q3,2002Q4,...,2014Q2,2014Q3,2014Q4,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3
0,AFGHANISTAN,AFGHANI,78400.000,73000.000,71500.000,38200.000,35000.000,36807.000,38600.000,39000.000,...,57.390,57.05,57.90,57.34,60.260,63.800,67.900,68.450,68.220,65.35
1,ALBANIA,LEK,142.400,149.000,142.000,136.300,139.810,143.800,139.400,132.880,...,102.620,110.64,115.10,130.25,125.030,123.990,125.540,121.350,123.160,122.77
2,ALGERIA,DINAR,76.539,78.101,76.429,78.078,78.319,80.207,79.969,81.045,...,79.098,82.95,87.81,97.38,98.592,105.739,106.878,108.301,109.866,109.35
3,ANGOLA,KWANZA,19.706,19.706,20.389,30.044,34.320,40.236,46.178,53.307,...,98.000,98.00,104.00,104.00,120.000,145.000,145.000,160.000,170.000,170.00
4,ANTIGUA-BARBUDA,E. CARIBBEAN DOLLAR,2.700,2.700,2.700,2.700,2.700,2.700,2.700,2.700,...,2.700,2.70,2.70,2.70,2.700,2.700,2.700,2.700,2.700,2.70

In [7]:
#Checking the column names in the dataset
df.columns

Index(['country', 'unit', '2001Q1', '2001Q2', '2001Q3', '2001Q4', '2002Q1',
       '2002Q2', '2002Q3', '2002Q4', '2003Q1', '2003Q2', '2003Q3', '2003Q4',
       '2004Q1', '2004Q2', '2004Q3', '2004Q4', '2005Q1', '2005Q2', '2005Q3',
       '2005Q4', '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007Q1', '2007Q2',
       '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009Q1',
       '2009Q2', '2009Q3', '2009Q4', '2010Q1', '2010Q2', '2010Q3', '2010Q4',
       '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3',
       '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2',
       '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
       '2016Q2', '2016Q3'],
      dtype='object')

In [16]:
#Making another copy of our dataset, so that not to lose the original one in case of any changes
df_copy= df.copy()

In [17]:
#Checking what data types are the variables
df_copy.dtypes

country     object
unit        object
2001Q1     float64
2001Q2     float64
2001Q3     float64
            ...
2015Q3     float64
2015Q4     float64
2016Q1     float64
2016Q2     float64
2016Q3     float64
Length: 65, dtype: object

In [18]:
df_copy.shape

(221, 65)

In [ ]:
plt.hist(df.year[non_numberic_profits], bins=range(1955, 2006))