In [1]:
#importing required libraries...
import pandas as pd

Afghani Exchange Rate from 2007 to 2024

In [5]:
df = pd.read_csv('quarterly-edited.csv')

In [6]:
#Checking a beginnig of the records
df.head()

,country,unit,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,2002Q3,2002Q4,...,2014Q2,2014Q3,2014Q4,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3
0,AFGHANISTAN,AFGHANI,78400.000,73000.000,71500.000,38200.000,35000.000,36807.000,38600.000,39000.000,...,57.390,57.05,57.90,57.34,60.260,63.800,67.900,68.450,68.220,65.35
1,ALBANIA,LEK,142.400,149.000,142.000,136.300,139.810,143.800,139.400,132.880,...,102.620,110.64,115.10,130.25,125.030,123.990,125.540,121.350,123.160,122.77
2,ALGERIA,DINAR,76.539,78.101,76.429,78.078,78.319,80.207,79.969,81.045,...,79.098,82.95,87.81,97.38,98.592,105.739,106.878,108.301,109.866,109.35
3,ANGOLA,KWANZA,19.706,19.706,20.389,30.044,34.320,40.236,46.178,53.307,...,98.000,98.00,104.00,104.00,120.000,145.000,145.000,160.000,170.000,170.00
4,ANTIGUA-BARBUDA,E. CARIBBEAN DOLLAR,2.700,2.700,2.700,2.700,2.700,2.700,2.700,2.700,...,2.700,2.70,2.70,2.70,2.700,2.700,2.700,2.700,2.700,2.70

In [ ]:
#Checking the column names in the dataset
df.columns

In [ ]:
#Making another copy of our dataset, so that not to lose the original one in case of any changes
df_Edu= df.copy()

In [ ]:
#Checking what data types are the variables
df_Edu.dtypes

In [ ]:
df_Edu.shape

In [ ]:
#Checking which columns have null values

df_Edu.isnull().any()

In [ ]:
#Checking what is the number of null values in each column
df_Edu.isna().sum()